.media {
    align-items: center;
    display: flex;
    text-align: left;
}

p {
    margin-bottom: 0.1em !important;
}

.custom-box {
    background-color: white;
    border-radius: 16px;
    border-style: solid;
    border-color: hsl(0, 0%, 95%);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.is-active {
    background-color: hsl(0, 0%, 83%);
    border-color: transparent !important;
}

.progress {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 290486px;
    display: inline-block;
    height: 1rem;
    overflow: hidden;
    padding: 0;
    margin-left: 15px;
    width: 70%;
}

.currency {
    font-size: 1.2em;
}